﻿<ion-header-bar class="bar-stable" align-title="center">
    <h1 class="title">{{title}}</h1>
</ion-header-bar>

<ion-header-bar class="bar-subheader bar-stable" align-title="center">
    <h1 class="title">{{history.length > 0 ? curData.elementName : 'Choose one.'}}</h1>
    <div ng-if="history.length > 0" class="buttons">
        <button ng-disabled="choiceMade" class="button button-icon icon ion-android-arrow-dropleft" ng-click="goUp()"></button>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</ion-header-bar>

<ion-content>
    <ion-list>
        <ion-item ng-if="any && history.length === 0" ng-click="toggleChosenAny()">
            Any
        </ion-item>
        <ion-item  ng-if="any && history.length === 0 && curData.children.length > 0" class="item item-divider" id="requiredDivider"><b>Or</b></ion-item>
        <ion-item class="item item-button-right" ng-repeat="choice in curData.children" ng-click="toggleChosen(choice)" ng-style="choiceMade && choice.node == chosen.node ? chosenStyle : notChosenStyle">
            {{choice.elementName}}
            <div class="buttons">
                <button ng-disabled="choiceMade" ng-if="choice.children.length > 0" class="button button-icon icon ion-android-arrow-dropright" ng-click="goDown(choice)"></button>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
