﻿<div class="modal image-modal transparent">
    <hierarchy-chooser data="data.hierarchyChooserModalData.hierarchy" 
                       chosen="data.hierarchyChooserModalData.chosen" 
                       title={{data.hierarchyChooserModalData.title}} 
                       callback="data.hierarchyChooserModalData.callback(element)"
                       any={{true}}>
    </hierarchy-chooser>
</div>