﻿<ion-popover-view style="width: 120px; height: 60px">
    <ion-content>
        <ion-list>
            <ion-item class="item" style="width: 100%; height: 60px;" 
                     ng-click="$parent.showDeleteConfirmation($parent.data.defectPopoverData.deletedDefectNode); $parent.closeDefectOptionsPopover();">
                Delete
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>