﻿<ion-view hide-nav-bar="true" view-title="Login" name="login-view">
    <ion-content class="padding" scroll="false">
        <div class="row" style="padding-top: 40px">
            <div class="col-80 col-offset-10" style="padding-bottom: 20px">
                <img style="width: 100%;" src="img/IconThinMoreBottomWithName.jpg"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="data.username">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--<div style="padding-bottom: 5px;"><b>Password:</b></div>-->
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-stable" ng-disabled="!userInputIsValid()" ng-click="login()">Log In</button>
            </div>
        </div>
    </ion-content>
</ion-view>