/* Priority */
/*=============================================================*/
.priorityBox 
{
    font-size:small; 
    padding: 3px; 
    border-radius: 10px;
    font-weight: 600;
}

.priorityVeryLow
{
    /*background-color: rgb(128, 255, 170);*/
    background-color: rgb(240, 255, 255);
}

.priorityLow
{
    /*background-color: rgb(255, 255, 128);*/
    background-color: rgb(225, 255, 255);
}

.priorityMedium
{
    /*background-color: rgb(255, 212, 128);*/
    background-color: rgb(200, 255, 255);
}

.priorityHigh
{
    /*background-color: rgb(255, 163, 102);*/
    background-color: rgb(150, 255, 255);
}

.priorityVeryHigh
{
    /*background-color: rgb(255, 128, 128);*/
    background-color: rgb(100, 255, 255);
}


/* Image Preloading */
/*=============================================================*/

.spinner-hide .loading{
    visibility: visible;
}
.spinner-show .loading{
    visibility: hidden;
}

/* Misc */
/*=============================================================*/

.noData
{
    text-align: center; 
    font-style: italic;
    color: rgb(100,100,100) !important;
}

/* Defect List Styles */
/*=============================================================*/

.noPadding
{
    padding: 0px;
}

.defectItem
{
    margin: 10px;
    padding: 0px;
    border-bottom: 2px solid gray;
}

.defectDraft {
    background-color: rgb(230, 255, 255);
    border-bottom: 2px solid gray;
    padding: 5px;
}

.defectItemTitle
{
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.defectItem .row
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.defectItemContent
{
    padding-top: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.filterChoices 
{
    background-color: rgb(230, 255, 255);
}

/* Add Defect Styles */
/*=============================================================*/

.addDefectSlide
{
    margin: 10px;
}

.currentChoice 
{
    color: rgb(15, 184, 241) /*rgb(0, 153, 51)*/ !important;
}

.photoContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoItem
{
    margin: auto;
}

/* hierarchy chooser Styles */
/*=============================================================*/

.chosenData 
{
    background-color: rgb(230, 255, 255);
}

/* IMAGE POPOVER STYLES */
/*=============================================================*/
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: rgba(0,0,0,0.5);
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 30px;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.imageBorder {
    border: 2px ridge lightgray;
}
 
.slider {
    width: 100%;
    height: 100%;
}

/* Custom slide-in-right animation for modals */
/* ================================================================= */

.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); 

}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; 

}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); 

}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; 
}

.slide-in-left {
  -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.slide-in-down {
  -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

.slide-in-down.ng-enter, .slide-in-down > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-down.ng-enter-active, .slide-in-down > .ng-enter-active {
  -webkit-transform: translateY(0);
    transform: translateY(0); }

.slide-in-down.ng-leave, .slide-in-down > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

/* Animation styles from https://github.com/kevincobain2000/ionic-animated-modal/blob/master/www/css/style.css */

.animated.modal.bounceIn.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}
.animated.modal.bounceInDown.ng-leave {
    -webkit-animation-name:bounceOutUp;
    animation-name:bounceOutUp;
}
.animated.modal.bounceInLeft.ng-leave {
    -webkit-animation-name:bounceOutLeft;
    animation-name:bounceOutLeft;
}
.animated.modal.bounceInRight.ng-leave {
    -webkit-animation-name:bounceOutRight;
    animation-name:bounceOutRight;
}
.animated.modal.bounceInUp.ng-leave {
    -webkit-animation-name:bounceOutDown;
    animation-name:bounceOutDown;
}

.animated.modal.bounceOut.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}

.animated.modal.fadeIn.ng-leave {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut;
}
.animated.modal.fadeInDown.ng-leave {
    -webkit-animation-name:fadeOutDown;
    animation-name:fadeOutDown;
}
.animated.modal.fadeInDownBig.ng-leave {
    -webkit-animation-name:fadeOutDownBig;
    animation-name:fadeOutDownBig;
}
.animated.modal.fadeInLeft.ng-leave {
    -webkit-animation-name:fadeOutLeft;
    animation-name:fadeOutLeft;
}
.animated.modal.fadeInLeftBig.ng-leave {
    -webkit-animation-name:fadeOutLeftBig;
    animation-name:fadeOutLeftBig;
}
.animated.modal.fadeInRight.ng-leave {
    -webkit-animation-name:fadeOutRight;
    animation-name:fadeOutRight;
}
.animated.modal.fadeInRightBig.ng-leave {
    -webkit-animation-name:fadeOutRightBig;
    animation-name:fadeOutRightBig;
}
.animated.modal.fadeInUp.ng-leave {
    -webkit-animation-name:fadeOutUp;
    animation-name:fadeOutUp;
}
.animated.modal.fadeInUpBig.ng-leave {
    -webkit-animation-name:fadeOutUpBig;
    animation-name:fadeOutUpBig;
}

.animated.modal.flipInX.ng-leave {
    -webkit-animation-name:flipOutX;
    animation-name:flipOutX;
}
.animated.modal.flipInY.ng-leave {
    -webkit-animation-name:flipOutY;
    animation-name:flipOutY;
}

.animated.modal.lightSpeedIn.ng-leave {
    -webkit-animation-name:lightSpeedOut;
    animation-name:lightSpeedOut;
}

.animated.modal.rotateIn.ng-leave {
    -webkit-animation-name:rotateOut;
    animation-name:rotateOut;
}
.animated.modal.rotateInDownLeft.ng-leave {
    -webkit-animation-name:rotateOutDownLeft;
    animation-name:rotateOutDownLeft;
}
.animated.modal.rotateInDownRight.ng-leave {
    -webkit-animation-name:rotateOutDownRight;
    animation-name:rotateOutDownRight;
}
.animated.modal.rotateInUpLeft.ng-leave {
    -webkit-animation-name:rotateOutUpLeft;
    animation-name:rotateOutUpLeft;
}
.animated.modal.rotateInUpRight.ng-leave {
    -webkit-animation-name:rotateOutUpRight;
    animation-name:rotateOutUpRight;
}

.animated.modal.slideInUp.ng-leave {
    -webkit-animation-name:slideOutDown;
    animation-name:slideOutDown;
}
.animated.modal.slideInDown.ng-leave {
    -webkit-animation-name:slideOutUp;
    animation-name:slideOutUp;
}
.animated.modal.slideInLeft.ng-leave {
    -webkit-animation-name:slideOutLeft;
    animation-name:slideOutLeft;
}
.animated.modal.slideInRight.ng-leave {
    -webkit-animation-name:slideOutRight;
    animation-name:slideOutRight;
}

.animated.modal.zoomIn.ng-leave {
    -webkit-animation-name:zoomOut;
    animation-name:zoomOut;
}
.animated.modal.zoomInDown.ng-leave {
    -webkit-animation-name:zoomOutDown;
    animation-name:zoomOutDown;
}
.animated.modal.zoomInLeft.ng-leave {
    -webkit-animation-name:zoomOutLeft;
    animation-name:zoomOutLeft;
}
.animated.modal.zoomInRight.ng-leave {
    -webkit-animation-name:zoomOutRight;
    animation-name:zoomOutRight;
}
.animated.modal.zoomInUp.ng-leave {
    -webkit-animation-name:zoomOutUp;
    animation-name:zoomOutUp;
}

.animated.modal.rollIn.ng-leave {
    -webkit-animation-name:rollOut;
    animation-name:rollOut;
}

/* ng-leave animation definitions for non modal elements */

.animated.bounceIn.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}
.animated.bounceInDown.ng-leave {
    -webkit-animation-name:bounceOutUp;
    animation-name:bounceOutUp;
}
.animated.bounceInLeft.ng-leave {
    -webkit-animation-name:bounceOutLeft;
    animation-name:bounceOutLeft;
}
.animated.bounceInRight.ng-leave {
    -webkit-animation-name:bounceOutRight;
    animation-name:bounceOutRight;
}
.animated.bounceInUp.ng-leave {
    -webkit-animation-name:bounceOutDown;
    animation-name:bounceOutDown;
}

.animated.bounceOut.ng-leave {
    -webkit-animation-name:bounceOut;
    animation-name:bounceOut;
}

.animated.fadeIn.ng-leave {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut;
}
.animated.fadeInDown.ng-leave {
    -webkit-animation-name:fadeOutDown;
    animation-name:fadeOutDown;
}
.animated.fadeInDownBig.ng-leave {
    -webkit-animation-name:fadeOutDownBig;
    animation-name:fadeOutDownBig;
}
.animated.fadeInLeft.ng-leave {
    -webkit-animation-name:fadeOutLeft;
    animation-name:fadeOutLeft;
}
.animated.fadeInLeftBig.ng-leave {
    -webkit-animation-name:fadeOutLeftBig;
    animation-name:fadeOutLeftBig;
}
.animated.fadeInRight.ng-leave {
    -webkit-animation-name:fadeOutRight;
    animation-name:fadeOutRight;
}
.animated.fadeInRightBig.ng-leave {
    -webkit-animation-name:fadeOutRightBig;
    animation-name:fadeOutRightBig;
}
.animated.fadeInUp.ng-leave {
    -webkit-animation-name:fadeOutUp;
    animation-name:fadeOutUp;
}
.animated.fadeInUpBig.ng-leave {
    -webkit-animation-name:fadeOutUpBig;
    animation-name:fadeOutUpBig;
}

.animated.flipInX.ng-leave {
    -webkit-animation-name:flipOutX;
    animation-name:flipOutX;
}
.animated.flipInY.ng-leave {
    -webkit-animation-name:flipOutY;
    animation-name:flipOutY;
}

.animated.lightSpeedIn.ng-leave {
    -webkit-animation-name:lightSpeedOut;
    animation-name:lightSpeedOut;
}

.animated.rotateIn.ng-leave {
    -webkit-animation-name:rotateOut;
    animation-name:rotateOut;
}
.animated.rotateInDownLeft.ng-leave {
    -webkit-animation-name:rotateOutDownLeft;
    animation-name:rotateOutDownLeft;
}
.animated.rotateInDownRight.ng-leave {
    -webkit-animation-name:rotateOutDownRight;
    animation-name:rotateOutDownRight;
}
.animated.rotateInUpLeft.ng-leave {
    -webkit-animation-name:rotateOutUpLeft;
    animation-name:rotateOutUpLeft;
}
.animated.rotateInUpRight.ng-leave {
    -webkit-animation-name:rotateOutUpRight;
    animation-name:rotateOutUpRight;
}

.animated.slideInUp.ng-leave {
    -webkit-animation-name:slideOutDown;
    animation-name:slideOutDown;
}
.animated.slideInDown.ng-leave {
    -webkit-animation-name:slideOutUp;
    animation-name:slideOutUp;
}
.animated.slideInLeft.ng-leave {
    -webkit-animation-name:slideOutLeft;
    animation-name:slideOutLeft;
}
.animated.slideInRight.ng-leave {
    -webkit-animation-name:slideOutRight;
    animation-name:slideOutRight;
}

.animated.zoomIn.ng-leave {
    -webkit-animation-name:zoomOut;
    animation-name:zoomOut;
}
.animated.zoomInDown.ng-leave {
    -webkit-animation-name:zoomOutDown;
    animation-name:zoomOutDown;
}
.animated.zoomInLeft.ng-leave {
    -webkit-animation-name:zoomOutLeft;
    animation-name:zoomOutLeft;
}
.animated.zoomInRight.ng-leave {
    -webkit-animation-name:zoomOutRight;
    animation-name:zoomOutRight;
}
.animated.zoomInUp.ng-leave {
    -webkit-animation-name:zoomOutUp;
    animation-name:zoomOutUp;
}

.animated.rollIn.ng-leave {
    -webkit-animation-name:rollOut;
    animation-name:rollOut;
}


/* Custom animation classes */

.fadeInModal.ng-enter {
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
    -webkit-animation-delay:0.0s;
    animation-delay:0.0s;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeInModal.ng-leave {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut;
    -webkit-animation-delay:0.0s;
    animation-delay:0.0s;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}