﻿<ion-view view-title="Add Defect">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-android-arrow-dropleft" ng-click="goToDefects()"></button>
    </ion-nav-buttons>


    <ion-content scroll="false">
        <ion-slide-box delegate-handle="AddDefectSlideBox" show-pager="false" ng-init="disableSwipe()">
            <ion-slide>
                <ion-header-bar class="bar-header bar-stable" align-title="center">
                    <h1 class="title">Photo</h1>
                    <div class="buttons">
                        <button class="button button-icon icon ion-android-add" ng-click="takePicture()"></button>
                    </div>
                </ion-header-bar>
                <ion-content id="photoContent">
                    <div class="photoContainer">
                        <img id="photo" class="photoItem" ng-class="{ 'imageBorder' : data.photoBase64 }"  ng-src="{{data.photoURI}}">
                    </div>
                    <!--<ion-gallery ion-gallery-items="data.images" ion-gallery-row="3" ion-item-callback="showImageModal(item.src)"></ion-gallery>-->
                </ion-content>
            </ion-slide>
            <ion-slide>
                <ion-header-bar class="bar-header bar-stable" align-title="center">
                    <h1 class="title">General</h1>
                </ion-header-bar>
                <ion-content>
                    <!-- --------------------------------------------------------------------
                    Description
                    --------------------------------------------------------------------- -->

                    <ion-item class="item" >
                        <div class="row">
                            <div class="col-10">
                                <i style="font-size: 32px" class="icon ion-compose"></i>
                            </div>
                            <div class="col">
                                Description
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px">
                            <div class="col">
                                <label class="item item-input">
                                    <textarea elastic id="description" placeholder="None." ng-model="data.defectDescription" type="text" style="width: 100%; resize: none"></textarea>
                                </label>
                            </div>
                        </div>
                    </ion-item>

                    <!-- --------------------------------------------------------------------
                    Priority
                    --------------------------------------------------------------------- -->

                    <ion-item class="item">
                        <div class="row">
                            <div class="col-10">
                                <i style="font-size: 32px" class="icon ion-android-star"></i>
                            </div>
                            <div class="col">
                                Priority
                            </div>
                            <div class="col" style="text-align: right;">
                                <span ng-if="data.defectPriority === priority.veryLow()" style="font-size: small"><b>{{priority.getPriorityString(priority.veryLow())}}</b></span>
                                <span ng-if="data.defectPriority === priority.low()" style="font-size: small"><b>{{priority.getPriorityString(priority.low())}}</b></span>
                                <span ng-if="data.defectPriority === priority.medium()" style="font-size: small"><b>{{priority.getPriorityString(priority.medium())}}</b></span>
                                <span ng-if="data.defectPriority === priority.high()" style="font-size: small"><b>{{priority.getPriorityString(priority.high())}}</b></span>
                                <span ng-if="data.defectPriority === priority.veryHigh()" style="font-size: small"><b>{{priority.getPriorityString(priority.veryHigh())}}</b></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px">
                            <div class="col">
                                <rzslider rz-slider-model="data.defectPriority" rz-slider-options="{floor: 0, step: 1, ceil: 4, hideLimitLabels: true, showTicks: true,
                                                                                                            stepsArray: ['', '', '', '', '']}"></rzslider>
                            </div>
                        </div>
                    </ion-item>
                </ion-content>
            </ion-slide>
            <ion-slide>
                <hierarchy-chooser data="data.defectTypes" chosen="data.chosenDT" title="Defect Type"></hierarchy-chooser>
            </ion-slide>
            <ion-slide>
                <hierarchy-chooser data="data.structuralElements" chosen="data.chosenSE" title="Structural Element"></hierarchy-chooser>
            </ion-slide>
            <ion-slide>
                <hierarchy-chooser data="data.locationDescriptions" chosen="data.chosenLD" title="Location Description"></hierarchy-chooser>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

    <<ion-footer-bar class="bar-stable bar-footer" align-title="center">
        <div class="button-bar">
            <button class="button button-icon icon ion-image" ng-class="{ 'currentChoice' : isOnSlide(0) }" ng-click="slideTo(0);"></button>
            <button class="button button-icon icon ion-compose" ng-class="{ 'currentChoice' : isOnSlide(1) }" ng-click="slideTo(1);"></button>
            <button class="button button-icon icon ion-hammer" ng-class="{ 'currentChoice' : isOnSlide(2) }" ng-click="slideTo(2);"></button>
            <button class="button button-icon icon ion-home" ng-class="{ 'currentChoice' : isOnSlide(3) }" ng-click="slideTo(3);"></button>
            <button class="button button-icon icon ion-location" ng-class="{ 'currentChoice' : isOnSlide(4) }" ng-click="slideTo(4);"></button>
            <button class="button button-dark icon ion-checkmark" ng-click="showCreateConfirmation();"></button>
        </div>
    </ion-footer-bar>


</ion-view>