﻿<ion-view view-title="Defects">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-add" ng-click="goToAddDefect()" ng-disabled="data.showFilters"></button> <!--disable if in filters!-->
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader bar-stable" align-title="center">
        <h1 class="title" ng-click="toggleShowFilters()">
            {{data.showFilters ? 'Filters' : data.filters.inspectionChoice.name.value}}
        </h1>
    </ion-header-bar>

    <ion-content style="background-color: rgb(245, 245, 245)" delegate-handle="mainContent">
        
        <!--
        ================================================================================================================================================
        FILTERS
        ================================================================================================================================================
        -->

        <div ng-if="data.showFilters">

            <!-- --------------------------------------------------------------------
            Sort By
            --------------------------------------------------------------------- -->
            
            <ion-item class="item" id="sortByFilter">
                <div class="row" ng-click="toggleShowSortByChoices()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-android-funnel"></i>
                    </div>
                    <div class="col">
                        Sort By
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.sortByChoice.NAME}}</b></span>
                    </div>
                    <div style="margin: 5px">
                        <i style="font-size: 20px;" class="icon" ng-class="{ 'ion-android-arrow-dropdown': !data.filters.showSortByChoices, 'ion-android-arrow-dropup':  data.filters.showSortByChoices, 'currentChoice' : data.filters.showSortByChoices }"></i>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="data.filters.showSortByChoices" class="filterChoices">
                <ion-radio ng-click="toggleShowSortByChoices()"
                           ng-repeat="value in data.filters.sortByValues"
                           ng-model="data.filters.sortByChoice"
                           ng-value="value">
                    {{value.NAME}}
                </ion-radio>
            </ion-item>

            <ion-item class="item item-divider"></ion-item>

            <!-- --------------------------------------------------------------------
            Structures
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="structureFilter">
                <div class="row" ng-click="toggleShowStructureChoices()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-home"></i>
                    </div>
                    <div class="col">
                        Structure
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.structureChoice.name.value}}</b></span>
                    </div>
                    <div style="margin: 5px">
                        <i style="font-size: 20px;" ng-class="{ 'ion-android-arrow-dropdown': !data.filters.showStructureChoices, 'ion-android-arrow-dropup':  data.filters.showStructureChoices, 'currentChoice' : data.filters.showStructureChoices }"></i>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="data.filters.showStructureChoices" class="filterChoices">
                <ion-radio ng-click="toggleShowStructureChoices()"
                           ng-change="onStructureFilterChange()"
                           ng-repeat="structure in data.filters.filterHierarchy"
                           ng-model="data.filters.structureChoice"
                           ng-value="structure">
                    {{structure.name.value}}
                </ion-radio>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Inspections
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="inspectionFilter">
                <div class="row" ng-click="toggleShowInspectionChoices()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-clipboard"></i>
                    </div>
                    <div class="col">
                        Inspection
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.inspectionChoice.name.value}}</b></span>
                    </div>
                    <div style="margin: 5px">
                        <i style="font-size: 20px;" ng-class="{ 'ion-android-arrow-dropdown': !data.filters.showInspectionChoices, 'ion-android-arrow-dropup':  data.filters.showInspectionChoices, 'currentChoice' : data.filters.showInspectionChoices }"></i>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="data.filters.showInspectionChoices" class="filterChoices">
                <ion-radio ng-click="toggleShowInspectionChoices()"
                           ng-repeat="inspection in data.filters.structureChoice.inspections"
                           ng-model="data.filters.inspectionChoice"
                           ng-value="inspection">
                    {{inspection.name.value}}
                </ion-radio>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Inspectors
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="inspectorFilter">
                <div class="row" ng-click="toggleShowInspectorChoices()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-person"></i>
                    </div>
                    <div class="col">
                        Inspector
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.inspectorChoice.first.value}} {{data.filters.inspectorChoice.last.value}}</b></span>
                    </div>
                    <div style="margin: 5px">
                        <i style="font-size: 20px;" ng-class="{ 'ion-android-arrow-dropdown': !data.filters.showInspectorChoices, 'ion-android-arrow-dropup':  data.filters.showInspectorChoices, 'currentChoice' : data.filters.showInspectorChoices }"></i>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="data.filters.showInspectorChoices" class="filterChoices">
                <ion-radio ng-click="toggleShowInspectorChoices()"
                           ng-repeat="inspector in data.filters.inspectionChoice.inspectors"
                           ng-model="data.filters.inspectorChoice"
                           ng-value="inspector">
                    {{inspector.first.value}} {{inspector.last.value}}
                </ion-radio>
            </ion-item>

            <ion-item class="item item-divider"></ion-item>

            <!-- --------------------------------------------------------------------
            Completion
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="completionFilter">
                <div class="row" ng-click="toggleShowCompletionChoices()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-wrench"></i>
                    </div>
                    <div class="col">
                        Completion
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.completionChoice}}</b></span>
                    </div>
                    <div style="margin: 5px">
                        <i style="font-size: 20px;" ng-class="{ 'ion-android-arrow-dropdown': !data.filters.showCompletionChoices, 'ion-android-arrow-dropup':  data.filters.showCompletionChoices, 'currentChoice' : data.filters.showCompletionChoices }"></i>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="data.filters.showCompletionChoices" class="filterChoices">
                <ion-radio ng-click="toggleShowCompletionChoices()"
                           ng-repeat="value in data.filters.completionValues"
                           ng-model="data.filters.completionChoice"
                           ng-value="value">
                    {{value}}
                </ion-radio>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Defect Types
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="defectTypeFilter">
                <div class="row" ng-click="showHierarchyChooserModalDefectType()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-hammer"></i>
                    </div>
                    <div class="col">
                        Defect Type
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.defectTypeChoice.elementName}}</b></span>
                    </div>
                </div>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Structural Elements
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="structuralElementFilter">
                <div class="row" ng-click="showHierarchyChooserModalStructuralElement()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-home"></i>
                    </div>
                    <div class="col">
                        Structural Element
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.structuralElementChoice.elementName}}</b></span>
                    </div>
                </div>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Location Descriptions
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="locationDescriptionFilter">
                <div class="row" ng-click="showHierarchyChooserModalLocationDescription()">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-location"></i>
                    </div>
                    <div class="col">
                        Location Description
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>{{data.filters.locationDescriptionChoice.elementName}}</b></span>
                    </div>
                </div>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Description
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="descriptionFilter">
                <div class="row">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-compose"></i>
                    </div>
                    <div class="col">
                        Description
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>Containing</b></span>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" placeholder="Description" ng-model="data.filters.descriptionChoice">
                        </label>
                    </div>
                </div>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Date
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="dateFilter">
                <div class="row">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-calendar"></i>
                    </div>
                    <div class="col">
                        Date
                    </div>
                    <div class="col" style="text-align: right;">
                        <span style="font-size: small"><b>Before</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ionic-datepicker input-obj="datePickerObject">
                            <button class="button button-block button-stable">{{datePickerObject.inputDate | date:datePickerObject.dateFormat}}</button>
                        </ionic-datepicker>
                    </div>
                </div>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Distance
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="distanceFilter">
                <div class="row">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-android-locate"></i>
                    </div>
                    <div class="col">
                        Distance
                    </div>
                    <div class="col" style="text-align: right;">
                        <span ng-if="data.filters.distanceChoice == 0" style="font-size: small"><b>None</b></span>
                        <span ng-if="data.filters.distanceChoice > 0" style="font-size: small"><b>Within {{data.filters.distanceChoice}} miles</b></span>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col">
                        <rzslider rz-slider-model="data.filters.distanceChoice" rz-slider-options="{floor: 0, step: 10, ceil: 100, showTicks: true}"></rzslider>
                    </div>
                </div>
            </ion-item>

            <!-- --------------------------------------------------------------------
            Priority
            --------------------------------------------------------------------- -->

            <ion-item class="item" id="priorityFilter">
                <div class="row">
                    <div class="col-10">
                        <i style="font-size: 32px" class="icon ion-android-star"></i>
                    </div>
                    <div class="col">
                        Priority
                    </div>
                    <div class="col" style="text-align: right;">
                        <span ng-if="data.filters.priorityChoice === priority.veryLow()" style="font-size: small"><b>Any</b></span>
                        <span ng-if="data.filters.priorityChoice === priority.low()" style="font-size: small"><b>Low and Up</b></span>
                        <span ng-if="data.filters.priorityChoice === priority.medium()" style="font-size: small"><b>Medium and Up</b></span>
                        <span ng-if="data.filters.priorityChoice === priority.high()" style="font-size: small"><b>High and Up</b></span>
                        <span ng-if="data.filters.priorityChoice === priority.veryHigh()" style="font-size: small"><b>Very High</b></span>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px">
                    <div class="col">
                        <rzslider rz-slider-model="data.filters.priorityChoice" rz-slider-options="{floor: 0, step: 1, ceil: 4, hideLimitLabels: true, showTicks: true,
                                                                                                    stepsArray: ['', '', '', '', '']}"></rzslider>
                    </div>
                </div>
            </ion-item>
        </div>

        <!--
        ================================================================================================================================================
        DEFECT LIST
        ================================================================================================================================================
        -->

        <ion-list>
            <ion-item ng-if="!data.showFilters" ng-repeat="defect in data.defects" class="defectItem"> 
                <div>
                    <div ng-if="defect.draft.value === 'true'" class="item defectDraft">
                        <p style="font-size:small; width: 100%; text-align:center">
                            <b>Draft</b>
                        </p>
                    </div>
                    <div class="item item-button-right defectItemTitle">
                        <div>
                            <b>{{defect.inspectorFirstName.value}} {{defect.inspectorLastName.value}}</b>
                            <p style="font-size:smaller;" ng-bind="defect.datetime.value | date:'MM/dd/yyyy hh:mm:ss a'"></p>
                        </div>
                        <button ng-if="defect.inspector.value === $root.data.user.inspector" class="button button-small button-icon icon ion-android-settings" ng-click="openDefectOptionsPopover($event, defect.defect.value)"></button>
                    </div>
                    <div class="item item-text-wrap defectItemContent">
                        <div class="row">
                            <div class="col-10">
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="col-90">
                                <b style="font-size:small">Priority:</b>
                                <span class="imageBorder priorityBox" ng-class="priority.getPriorityBackgroundColor(defect.priority.value)">{{priority.getPriorityString(defect.priority.value)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <i class="ion-pricetag"></i>
                            </div>
                            <div class="col-90">
                                <b style="font-size:small">Tags:</b>
                                <span style="font-size:small;">{{getTags(defect)}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <i class="ion-android-locate"></i>
                            </div>
                            <div class="col-90">
                                <b style="font-size:small">Coordinates:</b>
                                <span style="font-size:small;">{{defect.latitude.value | number:5}}, {{defect.longitude.value | number:5}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <i class="ion-android-pin"></i>
                            </div>
                            <div class="col-90">
                                <b style="font-size:small">Distance:</b>
                                <span style="font-size:small;">{{defect.distance.value | number:3}} Miles</span>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px">
                            <div class="col-10">
                                <i class="ion-compose"></i>
                            </div>
                            <div class="col-90">
                                <b style="font-size:small">Description</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="font-size:smaller"> {{defect.description.value}} </p>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 15px">
                            <div class="col-10">
                                <i class="ion-image"></i>
                            </div>
                            <div class="col-90">
                                <b style="font-size:small">Photos</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img style="width: 50%;"
                                     ng-src="{{data.serverData.imageAddress + defect.image.value}}"
                                     ng-click="showImageModal(data.serverData.imageAddress + defect.image.value)">
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="!data.showFilters && data.defects.length === 0">
                <p class="noData">No defects.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
