﻿<ion-side-menus>

    <ion-side-menu side="left">
        <ion-header class="bar bar-header bar-dark" align-title="left">
            <h1 class="title">SIT</h1>
        </ion-header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.defects">
                    <div class="item-icon-left">
                        <i class="icon ion-hammer"></i>
                        <b>Defects</b>
                        <p style="padding-top: 10px; font-size:smaller">View defects.</p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content drag-content="false">
        <!--header bar that can be updated as the navigation changes in the following ion-nav-view-->
        <ion-nav-bar class="bar-dark" align-title="center">
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

</ion-side-menus>